.quill > .ql-toolbar:first-child {
    display: none !important;
  }

.ql-container {
  min-height: 0;
  flex-shrink: 1;
}

::-webkit-scrollbar {
  width: 10px;
  /* height: 16px; */
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
}

* {
  scrollbar-width: thin;
}